target/
.mvn/
**/.DS_Store

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ignore tcp node_modules
/tcp/node_modules
/tcp/package-lock.json

# ignore pgdata and resources
/pgdata
/res
/www
/web
